# /**
#  * @author [RadevankaProject]
#  * @email radevankaproject@mail.com]
#  * @create date 2025-05-07 18:31:56
#  * @modify date 2025-05-07 18:31:56
#  * @desc [description]
#  */

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ---- Isi URL Custom ---

#DashboardHome or Index
RewriteRule ^home$ index.php [L]
RewriteRule ^login$ modul/login.php [L]
RewriteRule ^out$ modul/logout.php [L]

#HalamanUsers
RewriteRule ^users$ index.php?m=users [L,QSA]
# Users actions
RewriteRule ^users/add$ modul/users/users_action.php?action=add [L,QSA]
RewriteRule ^users/edit/([0-9]+)$ modul/users/users_action.php?action=edit&id=$1 [L,QSA]
RewriteRule ^users/delete/([0-9]+)$ modul/users/users_action.php?action=delete&id=$1 [L,QSA]

#halamanKriteria
RewriteRule ^criteria$ index.php?m=criteria [L,QSA]


Options All -Indexes
</IfModule>